src/test/resources/wsdl/SatellitesService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://sf5.openbox.org/satelliteservice/1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://sf5.openbox.org/satelliteservice/1.0" name="SatellitesService">
<types>
<xsd:schema>
<xsd:import namespace="http://sf5.openbox.org/satelliteservice/1.0" schemaLocation="http://localhost:8080/SF5JSF-test/SatellitesService?xsd=1"/>
</xsd:schema>
</types>
<message name="getAllSatellites">
<part name="parameters" element="tns:getAllSatellites"/>
</message>
<message name="getAllSatellitesResponse">
<part name="parameters" element="tns:getAllSatellitesResponse"/>
</message>
<message name="getSatelliteById">
<part name="parameters" element="tns:getSatelliteById"/>
</message>
<message name="getSatelliteByIdResponse">
<part name="parameters" element="tns:getSatelliteByIdResponse"/>
</message>
<message name="getSatellitesByArbitraryFilter">
<part name="parameters" element="tns:getSatellitesByArbitraryFilter"/>
</message>
<message name="getSatellitesByArbitraryFilterResponse">
<part name="parameters" element="tns:getSatellitesByArbitraryFilterResponse"/>
</message>
<portType name="Satellites">
<operation name="getAllSatellites">
<input wsam:Action="http://sf5.openbox.org/satelliteservice/1.0/Satellites/getAllSatellitesRequest" message="tns:getAllSatellites"/>
<output wsam:Action="http://sf5.openbox.org/satelliteservice/1.0/Satellites/getAllSatellitesResponse" message="tns:getAllSatellitesResponse"/>
</operation>
<operation name="getSatelliteById">
<input wsam:Action="http://sf5.openbox.org/satelliteservice/1.0/Satellites/getSatelliteByIdRequest" message="tns:getSatelliteById"/>
<output wsam:Action="http://sf5.openbox.org/satelliteservice/1.0/Satellites/getSatelliteByIdResponse" message="tns:getSatelliteByIdResponse"/>
</operation>
<operation name="getSatellitesByArbitraryFilter">
<input wsam:Action="http://sf5.openbox.org/satelliteservice/1.0/Satellites/getSatellitesByArbitraryFilterRequest" message="tns:getSatellitesByArbitraryFilter"/>
<output wsam:Action="http://sf5.openbox.org/satelliteservice/1.0/Satellites/getSatellitesByArbitraryFilterResponse" message="tns:getSatellitesByArbitraryFilterResponse"/>
</operation>
</portType>
<binding name="SatellitesPortBinding" type="tns:Satellites">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getAllSatellites">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getSatelliteById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getSatellitesByArbitraryFilter">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="SatellitesService">
<port name="SatellitesPort" binding="tns:SatellitesPortBinding">
<soap:address location="http://localhost:8080/SF5JSF-test/SatellitesService"/>
</port>
</service>
</definitions>