src/test/resources/wsdl/SettingsService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://sf5.openbox.org/settingsservice/1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://sf5.openbox.org/settingsservice/1.0" name="SettingsService">
<types>
<xsd:schema>
<xsd:import namespace="http://sf5.openbox.org/settingsservice/1.0" schemaLocation="http://localhost:8080/SF5JSF-test/SettingsService?xsd=1"/>
</xsd:schema>
</types>
<message name="getSettingsByUserLogin">
<part name="parameters" element="tns:getSettingsByUserLogin"/>
</message>
<message name="getSettingsByUserLoginResponse">
<part name="parameters" element="tns:getSettingsByUserLoginResponse"/>
</message>
<message name="getSettingsByArbitraryFilter">
<part name="parameters" element="tns:getSettingsByArbitraryFilter"/>
</message>
<message name="getSettingsByArbitraryFilterResponse">
<part name="parameters" element="tns:getSettingsByArbitraryFilterResponse"/>
</message>
<message name="createSetting">
<part name="parameters" element="tns:createSetting"/>
</message>
<message name="createSettingResponse">
<part name="parameters" element="tns:createSettingResponse"/>
</message>
<message name="getSettingById">
<part name="parameters" element="tns:getSettingById"/>
</message>
<message name="getSettingByIdResponse">
<part name="parameters" element="tns:getSettingByIdResponse"/>
</message>
<portType name="Settings">
<operation name="getSettingsByUserLogin">
<input wsam:Action="http://sf5.openbox.org/settingsservice/1.0/Settings/getSettingsByUserLoginRequest" message="tns:getSettingsByUserLogin"/>
<output wsam:Action="http://sf5.openbox.org/settingsservice/1.0/Settings/getSettingsByUserLoginResponse" message="tns:getSettingsByUserLoginResponse"/>
</operation>
<operation name="getSettingsByArbitraryFilter">
<input wsam:Action="http://sf5.openbox.org/settingsservice/1.0/Settings/getSettingsByArbitraryFilterRequest" message="tns:getSettingsByArbitraryFilter"/>
<output wsam:Action="http://sf5.openbox.org/settingsservice/1.0/Settings/getSettingsByArbitraryFilterResponse" message="tns:getSettingsByArbitraryFilterResponse"/>
</operation>
<operation name="createSetting">
<input wsam:Action="http://sf5.openbox.org/settingsservice/1.0/Settings/createSettingRequest" message="tns:createSetting"/>
<output wsam:Action="http://sf5.openbox.org/settingsservice/1.0/Settings/createSettingResponse" message="tns:createSettingResponse"/>
</operation>
<operation name="getSettingById">
<input wsam:Action="http://sf5.openbox.org/settingsservice/1.0/Settings/getSettingByIdRequest" message="tns:getSettingById"/>
<output wsam:Action="http://sf5.openbox.org/settingsservice/1.0/Settings/getSettingByIdResponse" message="tns:getSettingByIdResponse"/>
</operation>
</portType>
<binding name="SettingsPortBinding" type="tns:Settings">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getSettingsByUserLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getSettingsByArbitraryFilter">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createSetting">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getSettingById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="SettingsService">
<port name="SettingsPort" binding="tns:SettingsPortBinding">
<soap:address location="http://localhost:8080/SF5JSF-test/SettingsService"/>
</port>
</service>
</definitions>