src/test/resources/wsdl/TranspondersService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://sf5.openbox.org/transpondersservice/1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://sf5.openbox.org/transpondersservice/1.0" name="TranspondersService">
<types>
<xsd:schema>
<xsd:import namespace="http://sf5.openbox.org/transpondersservice/1.0" schemaLocation="http://localhost:8080/SF5JSF-test/TranspondersService?xsd=1"/>
</xsd:schema>
</types>
<message name="getTransponders">
<part name="parameters" element="tns:getTransponders"/>
</message>
<message name="getTranspondersResponse">
<part name="parameters" element="tns:getTranspondersResponse"/>
</message>
<message name="getTranspondersByArbitraryFilter">
<part name="parameters" element="tns:getTranspondersByArbitraryFilter"/>
</message>
<message name="getTranspondersByArbitraryFilterResponse">
<part name="parameters" element="tns:getTranspondersByArbitraryFilterResponse"/>
</message>
<message name="getTransponderById">
<part name="parameters" element="tns:getTransponderById"/>
</message>
<message name="getTransponderByIdResponse">
<part name="parameters" element="tns:getTransponderByIdResponse"/>
</message>
<message name="getTranspondersBySatelliteId">
<part name="parameters" element="tns:getTranspondersBySatelliteId"/>
</message>
<message name="getTranspondersBySatelliteIdResponse">
<part name="parameters" element="tns:getTranspondersBySatelliteIdResponse"/>
</message>
<portType name="Transponders">
<operation name="getTransponders">
<input wsam:Action="http://sf5.openbox.org/transpondersservice/1.0/Transponders/getTranspondersRequest" message="tns:getTransponders"/>
<output wsam:Action="http://sf5.openbox.org/transpondersservice/1.0/Transponders/getTranspondersResponse" message="tns:getTranspondersResponse"/>
</operation>
<operation name="getTranspondersByArbitraryFilter">
<input wsam:Action="http://sf5.openbox.org/transpondersservice/1.0/Transponders/getTranspondersByArbitraryFilterRequest" message="tns:getTranspondersByArbitraryFilter"/>
<output wsam:Action="http://sf5.openbox.org/transpondersservice/1.0/Transponders/getTranspondersByArbitraryFilterResponse" message="tns:getTranspondersByArbitraryFilterResponse"/>
</operation>
<operation name="getTransponderById">
<input wsam:Action="http://sf5.openbox.org/transpondersservice/1.0/Transponders/getTransponderByIdRequest" message="tns:getTransponderById"/>
<output wsam:Action="http://sf5.openbox.org/transpondersservice/1.0/Transponders/getTransponderByIdResponse" message="tns:getTransponderByIdResponse"/>
</operation>
<operation name="getTranspondersBySatelliteId">
<input wsam:Action="http://sf5.openbox.org/transpondersservice/1.0/Transponders/getTranspondersBySatelliteIdRequest" message="tns:getTranspondersBySatelliteId"/>
<output wsam:Action="http://sf5.openbox.org/transpondersservice/1.0/Transponders/getTranspondersBySatelliteIdResponse" message="tns:getTranspondersBySatelliteIdResponse"/>
</operation>
</portType>
<binding name="TranspondersPortBinding" type="tns:Transponders">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getTransponders">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTranspondersByArbitraryFilter">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTransponderById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTranspondersBySatelliteId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="TranspondersService">
<port name="TranspondersPort" binding="tns:TranspondersPortBinding">
<soap:address location="http://localhost:8080/SF5JSF-test/TranspondersService"/>
</port>
</service>
</definitions>