src/test/resources/wsdl/UsersService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://sf5.openbox.org/usersservice/1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://sf5.openbox.org/usersservice/1.0" name="UsersService">
<types>
<xsd:schema>
<xsd:import namespace="http://sf5.openbox.org/usersservice/1.0" schemaLocation="http://localhost:8080/SF5JSF-test/UsersService?xsd=1"/>
</xsd:schema>
</types>
<message name="ifSuchLoginExists">
<part name="parameters" element="tns:ifSuchLoginExists"/>
</message>
<message name="ifSuchLoginExistsResponse">
<part name="parameters" element="tns:ifSuchLoginExistsResponse"/>
</message>
<message name="createUser">
<part name="parameters" element="tns:createUser"/>
</message>
<message name="createUserResponse">
<part name="parameters" element="tns:createUserResponse"/>
</message>
<message name="getUserByLogin">
<part name="parameters" element="tns:getUserByLogin"/>
</message>
<message name="getUserByLoginResponse">
<part name="parameters" element="tns:getUserByLoginResponse"/>
</message>
<portType name="Users">
<operation name="ifSuchLoginExists">
<input wsam:Action="http://sf5.openbox.org/usersservice/1.0/Users/ifSuchLoginExistsRequest" message="tns:ifSuchLoginExists"/>
<output wsam:Action="http://sf5.openbox.org/usersservice/1.0/Users/ifSuchLoginExistsResponse" message="tns:ifSuchLoginExistsResponse"/>
</operation>
<operation name="createUser">
<input wsam:Action="http://sf5.openbox.org/usersservice/1.0/Users/createUserRequest" message="tns:createUser"/>
<output wsam:Action="http://sf5.openbox.org/usersservice/1.0/Users/createUserResponse" message="tns:createUserResponse"/>
</operation>
<operation name="getUserByLogin">
<input wsam:Action="http://sf5.openbox.org/usersservice/1.0/Users/getUserByLoginRequest" message="tns:getUserByLogin"/>
<output wsam:Action="http://sf5.openbox.org/usersservice/1.0/Users/getUserByLoginResponse" message="tns:getUserByLoginResponse"/>
</operation>
</portType>
<binding name="UsersPortBinding" type="tns:Users">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="ifSuchLoginExists">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUserByLogin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="UsersService">
<port name="UsersPort" binding="tns:UsersPortBinding">
<soap:address location="http://localhost:8080/SF5JSF-test/UsersService"/>
</port>
</service>
</definitions>